#feedback-section {
  background-color: #a9c2be;
  margin-bottom: 160px;

  .container {
    display: flex;
    justify-content: end;
    align-items: start;
    position: relative;
    .img-wrap {
      position: absolute;
      left: 0;
      height: 100%;
      width: 57%;
    }
  }
  &.deallers {
    background-color: #5b5b5b;
    position: relative;
    &::before {
      content: "";
      background: url(../../images/FeedbackSection/image-1.png) no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 58%;
      height: 100%;
      object-fit: contain;
    }
    .container {
      .img-wrap {
        display: none;
      }
      .form-wrap {
        .title::first-letter {
          color: #343434;
        }
      }
    }
  }
}

@media screen and (max-width: 737px) {
  .App {
    #feedback-section {
      .container {
        justify-content: center;
        .img-wrap {
          display: none;
        }
        .form-wrap {
          left: 0;
        }
      }
    }
  }
}
