#fullCycleSection {
  position: relative;
  margin-top: 55px;
  margin-bottom: 311px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 50%;
  }
  &:before {
    height: 329px;
    top: 38px;
    left: 0;
    background-color: #a9c2be;
    z-index: -1;
  }
  &:after {
    height: 535px;
    top: 0;
    right: 0;
    background-color: #5b5b5b;
    z-index: -1;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .textInfo {
      display: flex;
      flex-direction: column;
      gap: 25px;

      h2.title {
        color: #fff;
        font-size: 28px;
        font-weight: 600;
        line-height: 28px;
      }
      p.text {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.1em;
        color: #fff;
        max-width: 381px;
      }
    }
    .img-wrap {
      position: relative;
      &:after {
        content: "furniture";
        position: absolute;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.245em;
        line-height: 19px;
        padding: 57px 49px 15px 11px;
        background-color: #ff9619;
        right: -35px;
        top: -55px;
      }
    }
  }
}
#brandSection {
  margin-bottom: 160px;
  display: flex;
  flex-direction: column;
  gap: 194px;

  .top {
    width: 100%;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 56%;
      height: 100%;
      right: 0;
      background-color: #5b5b5b;
    }
    .container {
      padding: 42px 0;
      display: flex;
      gap: 61px;
      position: relative;

      &:after {
        content: "brand";
        position: absolute;
        font-size: 129px;
        font-weight: 800;
        line-height: 144px;
        right: -62px;
        top: -117px;
        color: #5b5b5b;
      }
      .img-wrap {
        position: relative;
        top: -94px;
        img {
          width: 670px;
          height: 448px;
        }
        &:before {
          content: "";
          position: absolute;
          width: calc(100% + 12px);
          height: calc(100% + 1px);
          background: transparent;
          border: 5px solid #ccb2a3;
          top: 23px;
          left: 40px;
          z-index: -2;
        }
      }
      .text-wrap {
        max-width: 439px;
        h3.title {
          font-size: 20px;
          font-weight: 500;
          line-height: 27px;
          color: #ffffff;
          letter-spacing: 0.05em;
          margin-bottom: 30px;
        }
        p {
          font-size: 18px;
          font-weight: 300;
          line-height: 24px;
          letter-spacing: 0.1em;
          color: #ffffff;
        }
        .top {
          margin-bottom: 30px;
        }
        .center {
          margin-bottom: 20px;
        }
      }
    }
  }
  .bottom {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: calc(45% + 10px);
      right: 0;
      top: -34px;
      background-color: #a9c2be;
      height: 301px;
      z-index: -1;
    }
    .container {
      display: flex;
      gap: 70px;
      align-items: center;

      .text-info {
        max-width: 400px;
        .title {
          font-size: 20px;
          font-weight: 500;
          line-height: 27px;
          letter-spacing: 0.05em;
          color: #343434;
          margin-bottom: 25px;
        }
        .info {
          font-size: 18px;
          font-weight: 300;
          line-height: 24px;
          letter-spacing: 0.1em;
          color: #343434;
        }
      }
    }
  }
}
#sectionForm1 {
  position: relative;
  .react-parallax {
    height: 100%;
  }

  .parallax-content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    font-size: 24px;
  }
  margin-bottom: 160px;
  .container {
    padding: 44px 0;
    display: flex;
    justify-content: end;
    .form-wrap {
      &::before {
        display: none;
      }
      h2.title::first-letter {
        color: #343434;
      }
    }
  }
}

#howItWorkSection {
  margin-bottom: 160px;
  position: relative;

  &:before {
    content: "";
    background-image: url(../../images/IndividualFurniture/HowItWorkSection/bg.png);
    position: absolute;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  &:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    background: #5b5b5b;
    z-index: -1;
  }
  .container {
    padding: 166px 0;
    display: flex;
    justify-content: end;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 77px;
      height: 83px;
      background-color: #ff9619;
      right: -10px;
      top: -55px;
    }
    .img-wrap {
      display: none;
    }
    .info-wrap {
      max-width: 460px;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.07em;
      color: #ffffff;
      .title {
        margin-bottom: 25px;
        font-weight: 500;
        letter-spacing: 0.05em;
      }
    }
  }
}

//RESPONSE

@media screen and (max-width: 1120px) {
  .App {
    #fullCycleSection {
      &:after {
        left: 0;
        width: 100%;
        height: 90%;
        z-index: -2;
      }
      &:before {
        content: "furniture";
        position: absolute;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.245em;
        line-height: 12px;
        width: 120px;
        height: 83px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff9619;
        right: 17px;
        left: auto;
        top: -54px;
      }
      .container {
        flex-direction: column;
        align-items: start;
        gap: 71px;
        padding-top: 71px;
        .textInfo {
          p.text {
            max-width: none;
          }
        }
        .img-wrap {
          align-self: center;
          box-shadow: 120px 50px 0 50px #a9c2be;
          z-index: 3;
          img {
            box-shadow: 0px 15px 23px 5px rgba(0, 0, 0, 0.15);
          }
          &:after {
            top: auto;
            bottom: -29px;
            left: 36px;
            z-index: 0;
            width: 120px;
            height: 29px;
            padding: 0;
            content: "";
          }
        }
      }
    }
    #brandSection {
      .top:before {
        z-index: -1;
        top: 30%;
        width: 100%;
        height: 75%;
      }
      .bottom {
        .container {
          flex-direction: column-reverse;
        }
      }
      .container {
        padding: 0;
        flex-direction: column;
        .img-wrap {
          z-index: 2;
          img {
            -o-object-fit: contain;
            object-fit: contain;
          }
          &:before {
            width: 97%;
          }
        }
        &:after {
          display: none;
        }
      }
    }
    #sectionForm1 {
      .container {
        justify-content: center;
        .form-wrap {
          right: 0;
        }
      }
    }
    #howItWorkSection {
      &:before {
        display: none;
      }
      &:after {
        width: 100%;
      }
      .container {
        padding: 0 0 77px 0;
        flex-direction: column;
        align-items: center;
        margin: 0 0;
        width: 100%;
        &::after {
          right: 10px;
        }
        .info-wrap {
          width: 100%;
          max-width: none;
          text-align: center;
          .img-wrap {
            display: block;
            margin-bottom: 56px;
            height: 557px;
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1030px) {
  .App {
    #reasons {
      .container {
        .info-block {
          flex-direction: column !important;
          align-items: center;
          justify-content: center;
          &:nth-child(1) {
            margin-bottom: 80px;
          }
          &:nth-child(2n) {
            align-items: center;
          }
          h3.title {
            align-self: center;
            margin-bottom: 38px;
            left: auto;
            position: relative;
            top: 0;
          }
          .text-info {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .App {
    #brandSection {
      gap: 110px;
      .top {
        .container {
          gap: 20px;
        }
      }
      .container {
        .img-wrap {
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
      }
    }
    #howItWorkSection {
      .container {
        .info-wrap {
          .img-wrap {
            height: 457px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 654px) {
  .App {
    #brandSection {
      .top:before {
        top: 15%;
        height: 90%;
      }
    }
  }
}

@media screen and (max-width: 648px) {
  .App {
    #brandSection {
      .top {
        .img-wrap:before {
          width: 94%;
        }
      }
    }
    #howItWorkSection {
      .container {
        .info-wrap {
          .img-wrap {
            height: 357px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 486px) {
  .App {
    #fullCycleSection {
      margin-bottom: 270px;
    }
    #brandSection {
      .top {
        .img-wrap:before {
          width: 91%;
        }
      }
    }
    #sectionForm1 {
      margin-bottom: 80px;
      .container {
        justify-content: center;
        .form-wrap {
          h2.title {
            font-size: 24px;
          }
        }
      }
    }
    #newProducts {
      margin-bottom: 120px;
    }
    #howItWorkSection {
      margin-bottom: 120px;
    }
    #reasons {
      margin-bottom: 120px;
    }
    #brands {
      margin-bottom: 120px;
    }
  }
}
@media screen and (max-width: 386px) {
  .App {
    #brandSection {
      .top {
        .img-wrap:before {
          width: 89%;
        }
      }
    }
    #howItWorkSection {
      .container {
        .info-wrap {
          .img-wrap {
            height: 257px;
          }
        }
      }
    }
  }
}
