#individual-furniture {
  position: relative;
  margin-bottom: 192px;

  .background-image {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(50% + 85px);
    height: calc(100% - 63px);
    z-index: -1;
  }
  .background-color {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(70%);
    height: 100%;
    background-color: #5b5b5b;
    z-index: -2;
  }
  padding: 31px 0 22px;
  .container {
    position: relative;
    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 70px;
    &:after {
      content: "furniture";
      font-size: 15px;
      font-weight: 400;
      padding: 50px 49px 22px 11px;
      line-height: 18.75px;
      background-color: #ff9619;
      color: #fff;
      letter-spacing: 0.245em;
      position: absolute;
      right: -49px;
      top: -67px;
    }
    .img-wrap {
      &::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 100px;
        background-color: #ff9619;
        bottom: -54px;
        left: 100px;
        z-index: -1;
      }
    }
    .info-wrap {
      display: flex;
      flex-direction: column;
      max-width: 374px;
      h2.title {
        color: #fff;
        margin-bottom: 30px;
      }
      p.subtitle {
        font-weight: 500;
        margin-bottom: 15px;
        color: #ffffff;
      }
      p.info {
        font-weight: 300;
        color: #ffffff;
        margin-bottom: 30px;
      }
      .btn {
        padding: 13px 23px;
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: 1082px) {
  .App {
    #individual-furniture {
      margin-bottom: 270px;
      .container {
        padding-left: 0;
        padding-top: 79px;
        flex-direction: column-reverse;
        &:after {
          right: 2px;
        }
        .info-wrap {
          .btn {
            position: absolute;
            bottom: -605px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .img-wrap:before {
          z-index: -2;
          width: 50%;
        }
      }
      .background-image {
        height: 60%;
        left: auto;
        right: 0;
        z-index: -1;
        top: 50%;
      }
      .background-color {
        left: 0;
        z-index: -2;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 618px) {
  .App {
    #individual-furniture {
      .background-image {
        top: 55%;
        height: 55%;
      }
      .container {
        .info-wrap {
          .btn {
            bottom: -560px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 522px) {
  .App {
    #individual-furniture {
      .background-image {
        height: 52%;
      }
      .container {
        .info-wrap {
          .btn {
            bottom: -490px;
          }
        }
        .info-wrap {
          h2.title {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 474px) {
  .App {
    #individual-furniture {
      .container {
        .img-wrap:before {
          left: 50px;
        }
        .info-wrap {
          .btn {
            bottom: -470px;
          }
        }
      }
      .background-image {
        top: 59%;
        height: 50%;
      }
    }
  }
}
@media screen and (max-width: 396px) {
  .App {
    #individual-furniture {
      margin-bottom: 180px;
      .container {
        gap: 20px;
        .img-wrap:before {
          height: 70px;
          left: 50px;
          bottom: -37px;
        }
        .info-wrap {
          .btn {
            bottom: -390px;
          }
        }
      }
      .background-image {
        top: 65%;
        height: 40%;
      }
    }
  }
}
