#latest-publications {
  margin-bottom: 160px;
  .container {
    .title {
      margin-bottom: 80px;
    }
    .slick-slider {
      .slick-arrow {
        &.slick-prev {
          left: -45px;

          &:before {
            left: 14px;
          }
        }
        &.slick-next {
          right: -42px;
          &:before {
            left: -17px;
          }
        }
      }
      .img-wrap {
        margin-bottom: 15px;
      }
      .item-name {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 897px) {
  .App {
    #latest-publications {
      .container {
        .slick-slider {
          .item-wrap {
            padding: 0 220px;
          }
          .slick-arrow.slick-prev {
            left: 150px;
          }
          .slick-arrow.slick-next {
            right: 150px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 793px) {
  .App {
    #latest-publications {
      .container {
        .slick-slider {
          .item-wrap {
            padding: 0 120px;
          }
          .slick-arrow.slick-prev {
            left: 60px;
          }
          .slick-arrow.slick-next {
            right: 60px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 579px) {
  .App {
    #latest-publications {
      .container {
        .slick-slider {
          .item-wrap {
            padding: 0 90px;
          }
          .slick-arrow.slick-prev {
            left: 40px;
          }
          .slick-arrow.slick-next {
            right: 40px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 489px) {
  .App {
    #latest-publications {
      .container {
        .slick-slider {
          .item-wrap {
            padding: 0 60px;
          }
          .slick-arrow.slick-prev {
            left: 10px;
          }
          .slick-arrow.slick-next {
            right: 10px;
          }
        }
      }
    }
  }
}
