#our-history {
  margin-bottom: 160px;
  .container {
    .title {
      margin-bottom: 14px;
    }
    .info-top {
      display: flex;
      justify-content: end;
      position: relative;
      margin-bottom: 80px;
      .text-block {
        padding: 50px 42px;
        background-color: #5b5b5b;
        max-width: 538px;
        position: absolute;
        left: 0;
        top: 66px;
        .title {
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 0.1em;
          margin-bottom: 25px;
          color: #ffffff;
        }
        .subtitle {
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 0.1em;
          color: #ffffff;
        }
      }
    }
    .year {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .small {
        color: #343434;
        font-size: 25px;
        font-weight: 300;
      }
      .big {
        font-size: 144px;
        font-weight: 600;
        color: #5a5a5a;
        opacity: 0.1;
      }
    }
  }
}

@media screen and (max-width: 1126px) {
  .App {
    #our-history {
      .container {
        .info-top {
          flex-direction: column;
          margin-bottom: 20px;
          .text-block {
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            max-width: none;
            .subtitle {
              max-width: 700px;
            }
            &:after {
              content: "";
              position: absolute;
              width: 10%;
              height: 36%;
              background-color: #ff9619;
              right: 0;
              bottom: -20px;
              z-index: 2;
            }
          }
          .img-wrap {
            position: relative;
            top: -33px;
            width: 90%;
            margin: 0 auto;
          }
        }
        .year {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          .big {
            margin: 0 auto;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
          }
          .small:last-child {
            justify-self: end;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 627px) {
  .App {
    #our-history {
      .container {
        .year {
          .big {
            font-size: 130px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 567px) {
  .App {
    #our-history {
      .container {
        .year {
          .big {
            font-size: 120px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 523px) {
  .App {
    #our-history {
      .container {
        .year {
          .big {
            font-size: 110px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .App {
    #our-history {
      .container {
        .year {
          .big {
            font-size: 95px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 414px) {
  .App {
    #our-history {
      .container {
        .year {
          .big {
            font-size: 87px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 379px) {
  .App {
    #our-history {
      .container {
        .year {
          .big {
            font-size: 80px;
          }
        }
      }
    }
  }
}
