#ourPartners {
  margin-bottom: 115px;
  position: relative;
  .bg,
  &::before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 116px;
  }
  &:before {
    width: calc(50% + 428px);
    height: 453px;
    z-index: -3;
    left: 0;
    background: #5b5b5b;
  }
  &:after {
    width: calc(50% + 85px);
    height: 390px;
    z-index: -2;
    right: 0;
    background: #ccb2a3;
  }
  .bg {
    height: calc(100% - 120px);
  }
  .bg:before {
    content: "";
    position: absolute;
    left: calc(50% - 115px);
    width: 100px;
    height: 81px;
    top: -31px;
    background-color: #ff9619;
    z-index: -1;
  }
  .bg:after {
    content: "";
    position: absolute;
    right: calc(50% - 428px);
    width: 200px;
    height: 153px;
    bottom: -49px;
    background-color: #ff9619;
    z-index: -1;
  }
  .container {
    h2.title {
      margin-bottom: 80px;
    }
    .info-wrap {
      display: flex;
      gap: 30px;
      padding: 28px 0;
      .text-info {
        padding: 10px 0;
        max-width: 470px;
        .title {
          font-size: 20px;
          font-weight: 500;
          color: #ffffff;
          margin-bottom: 25px;
        }
        .subtitle {
          font-size: 20px;
          font-weight: 300;
          color: #ffffff;
          line-height: 27px;
          &.top {
            margin-bottom: 40px;
          }
        }
      }
      .img-wrap {
        img {
          width: 670px;
          height: 397px;
        }
      }
    }
  }
}

@media screen and (max-width: 1201px) {
  #ourPartners {
    &:before {
      width: 100%;
      height: 84.5%;
    }
    &:after {
      background-color: #a9c2be;
      height: 40%;
      left: 0;
      top: auto;
      bottom: -40px;
      position: absolute;
    }
    .container {
      .info-wrap {
        align-items: center;
        flex-direction: column;
        padding-top: 56px;
        .img-wrap {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .bg:before {
      left: auto;
      right: 30px;
    }
    .bg:after {
      right: auto;
      left: 20%;
      width: 150px;
      height: 90px;
      bottom: -14px;
    }
  }
}

@media screen and (max-width: 583px) {
  .App {
    #ourPartners {
      &:after {
        bottom: -60px;
      }
    }
  }
}
@media screen and (max-width: 517px) {
  .App {
    #ourPartners {
      &:after {
        height: 30%;
        bottom: -20px;
      }
    }
  }
}
@media screen and (max-width: 447px) {
  .App {
    #ourPartners {
      &:after {
        height: 25%;
        bottom: 0px;
      }
    }
  }
}
