#mainProd {
  padding-top: 80px;
  margin-bottom: 160px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    .info-wrap {
      display: flex;
      justify-content: space-between;

      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
      &:hover {
        .text-info {
          transform: scale(1.1);
        }
        .img-wrap {
          transform: scale(1.1);
        }
      }
      .text-info {
        max-width: 570px;
        color: #343434;
        transition: all 0.5s ease;
        .title {
          font-size: 30px;
          font-weight: 700;
          line-height: 38px;
          letter-spacing: 0.05em;
          margin-bottom: 30px;
          transition: all 0.5s ease;
        }
        .subtitle {
          font-size: 18px;
          font-weight: 500;
          line-height: 27px;
          letter-spacing: 0.07em;
          transition: all 0.5s ease;
          margin-bottom: 15px;
        }
        .info {
          font-size: 18px;
          font-weight: 300;
          line-height: 27px;
          transition: all 0.5s ease;
          letter-spacing: 0.07em;
        }
      }
      .img-wrap {
        transition: all 0.5s ease;
      }
    }
  }
}
#whyWithUs {
  display: block;
  margin-bottom: 160px;
  .container {
    .title {
      margin-bottom: 80px;
    }
    .item-wrap {
      user-select: none;
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f2f3f5;
        padding-right: 80px;
        .img-wrap {
          flex-basis: 45%;
        }
        .text-info {
          max-width: 431px;

          .suptitle {
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            color: #ff9619;
            margin-bottom: 20px;
          }
          .title {
            font-size: 35px;
            font-weight: 500;
            line-height: 39px;
            letter-spacing: 0.07em;
            color: #343434;
            margin-bottom: 30px;
          }
          .subtitle {
            font-size: 18px;
            font-weight: 300;
            line-height: 27px;
            letter-spacing: 0.07em;
            color: #343434;
            margin-bottom: 60px;
          }
        }
      }
    }
    .swiper-pagination {
      bottom: 64px;
      display: inline-flex;
      left: 56%;

      .swiper-pagination-bullet {
        color: transparent;
        border: 1px solid rgba(75, 72, 68, 0.6);
        border-radius: 50%;
        width: 13px;
        height: 13px;
        &.swiper-pagination-bullet-active {
          background-color: #ff9619;
          border-color: transparent;
        }
      }
    }
    .swiper-button-next {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 30px;
      right: 10px;
      z-index: 10000000000000000000000;
      &:after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        top: 17%;
        border-bottom: 2px solid #343434;
        border-right: 2px solid #343434;
        z-index: 1;
        transform: rotate(-45deg);
        pointer-events: none;
      }
    }
    .swiper-button-prev {
      display: none;
    }
  }
}

#allProducts {
  margin-bottom: 160px;
  .container {
    text-align: center;

    h2.title {
      margin-bottom: 50px;
      text-align: left;
    }
    .mySwiper3d {
      padding: 50px 0;
      user-select: none;
      margin-bottom: 60px;
      .item-wrap {
        height: 232px;
      }
      .swiper-pagination-bullet {
        &.swiper-pagination-bullet-active {
          background-color: #ff9619;
        }
        width: 13px;
        height: 13px;
        background-color: #c5c5c5;
        color: transparent;
        border-radius: 50%;
      }
    }
  }
}

#brands.partners {
  .container {
    h2.title {
      margin-bottom: 80px;
    }
  }
}

//RESPONSE

@media screen and (max-width: 1182px) {
  .App {
    #mainProd {
      .container {
        .info-wrap {
          flex-direction: column;
          text-align: center;
          align-items: center;
          gap: 30px;
          &:hover {
            .text-info {
              transform: scale(1);
            }
            .img-wrap {
              transform: scale(1);
            }
          }
          .img-wrap {
            max-width: 613px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1064px) {
  .App {
    #whyWithUs {
      .container {
        .swiper {
          .item-wrap {
            .item {
              padding-right: 0;
              padding-top: 55px;
              flex-direction: column;
              gap: 40px;
            }
          }
          .swiper-pagination {
            position: relative;
            top: auto;
            bottom: 300px;
            left: calc(26%);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 612px) {
  .App {
    #mainProd {
      margin-bottom: 120px;
      padding-top: 0;
      .container {
        .info-wrap {
          text-align: left;
          gap: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 453px) {
  .App {
    #whyWithUs {
      margin-bottom: 100px;
      .container {
        h2.title {
          margin-bottom: 40px;
        }
        .swiper {
          .swiper-pagination {
            bottom: 320px;
            left: 0;
          }
        }
      }
    }
    #allProducts {
      margin-bottom: 100px;
    }
  }
}
@media screen and (max-width: 421px) {
  .App {
    #whyWithUs {
      .container {
        .swiper {
          .swiper-pagination {
            bottom: 360px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 373px) {
  .App {
    #whyWithUs {
      .container {
        .swiper {
          .swiper-pagination {
            bottom: 380px;
          }
        }
      }
    }
  }
}
