#reasons {
  margin-bottom: 160px;
  .container {
    display: flex;
    flex-direction: column;

    .info-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      &:nth-child(1) {
        margin-bottom: 189px;
      }
      &:nth-child(2) {
        flex-direction: row-reverse;
        margin-bottom: 80px;
        .title {
          top: -103px;
          left: 0;
        }
      }
      &:hover {
        .title {
          color: #fff;
          &:before {
            width: calc(100% + 65px);
          }
        }
        .img-wrap {
          transform: scale(1.1);
        }
      }
      .title {
        font-size: 35px;
        font-weight: 500;
        line-height: 45px;
        letter-spacing: 0.05em;
        color: #343434;
        position: relative;
        align-self: start;
        position: absolute;
        transition: all 0.7s ease;
        &::first-letter {
          font-weight: 700;
          color: #fff;
        }
        &:before {
          content: "";
          position: absolute;
          width: 59px;
          height: 58px;
          background-color: #ff9619;
          z-index: -1;
          left: -35px;
          top: -6px;
          transition: all 0.5s ease;
        }
      }

      p.text {
        max-width: 535px;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.07em;
        color: #343434;
      }
      .img-wrap {
        transition: all 0.5s ease;
      }
    }
  }
  &.deallers {
    padding-top: 50px;
    .info-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      gap: 30px;
      &:hover {
        &:nth-child(2) {
          .img-wrap {
            transform: scaleX(-1) scale(1.1);
          }
        }
      }
      .img-wrap {
        position: relative;

        img {
          box-shadow: 50px 50px 0 20px #a9c2be;
        }
      }
      &:nth-child(1) {
        margin-bottom: 219px;
      }
      &:nth-child(2) {
        flex-direction: row-reverse;
        align-items: flex-start;
        margin-bottom: 131px;
        .img-wrap {
          transform: scale(-1, 1);
          img {
            box-shadow: 50px 50px 0 20px #5b5b5b;
          }
        }
        .title {
          top: -103px;
          left: 0;
        }
      }
      .title {
        font-size: 35px;
        font-weight: 500;
        line-height: 45px;
        letter-spacing: 0.05em;
        color: #343434;
        position: relative;
        align-self: start;
        position: absolute;
        &::first-letter {
          font-weight: 700;
          color: #fff;
        }
        &:before {
          content: "";
          position: absolute;
          width: 59px;
          height: 58px;
          background-color: #a9c2be;
          z-index: -1;
          left: -35px;
          top: -6px;
        }
      }

      p.text {
        max-width: 535px;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.07em;
        color: #343434;
      }
    }
  }
}

//RESPONSE

@media screen and (max-width: 1031px) {
  .App {
    #reasons.deallers {
      .info-block {
        &:nth-child(1) {
          margin-bottom: 150px;
        }
      }
    }
  }
}
