#section3D {
  margin-bottom: 120px;

  .container {
    display: flex;
    justify-content: space-between;

    .left-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .sofa-wrap {
        width: 732px;
        height: 380px;
        position: relative;
        cursor: -webkit-grab;
        cursor: grab;
        &:active {
          cursor: -webkit-grabbing;
          cursor: grabbing;
        }
        .sofa {
          width: 100%;
          height: 100%;
        }
      }
      .icon-wrap {
        width: 80px;
        position: absolute;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        left: 0;
        top: 0;
        img {
          -o-object-fit: contain;
          object-fit: contain;
        }
      }
      .changeClassbtn {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 45px;
        height: 35px;
        background: transparent;
        border: none;
        &:before {
          content: "";
          width: 16px;
          height: 16px;
          top: 7px;
          left: 3px;
          position: absolute;
          border-bottom: 1px solid #343434;
          border-left: 1px solid #343434;
          transform: rotate(45deg);
          transition: all 0.2s ease;
        }
        &:after {
          content: "";
          width: 16px;
          height: 16px;
          top: 7px;
          right: 3px;
          position: absolute;
          border-bottom: 1px solid #343434;
          border-right: 1px solid #343434;
          transition: all 0.2s ease;
          transform: rotate(-45deg);
        }
        &:hover {
          transform: scale(1.2);
        }
        &:hover:before {
          left: 0;
        }
        &:hover:after {
          right: 0;
        }
      }
    }

    .text-info {
      max-width: 371px;
      .item-name {
        color: #343434;
        font-weight: 700;
        margin-bottom: 30px;
      }
      .collection {
        color: #343434;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
      }
      .info {
        color: #343434;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 15px;
      }
      .price {
        color: #ff9619;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
    }
  }
  &.big {
    .container {
      flex-direction: column;
      .left-info {
        .sofa-wrap {
          width: 100%;
          .sofa {
            width: 100% !important;
            height: 450px !important;
          }
          .changeClassbtn {
            &:before {
              transform: rotate(-135deg);
              left: -3px;
            }
            &:after {
              transform: rotate(135deg);
              right: -3px;
            }
            &:hover:before {
              left: 1px;
            }
            &:hover:after {
              right: 1px;
            }
          }
        }
      }
      .text-info {
        max-width: none;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1252px) {
  .App {
    #section3D {
      .container {
        flex-direction: column;
        .left-info {
          .sofa-wrap {
            width: 100%;
            .sofa {
              width: 100%;
              margin: 0 auto;
            }
            .changeClassbtn {
              display: none;
            }
          }
        }
        .text-info {
          text-align: center;

          max-width: none;
        }
      }
    }
  }
}
@media screen and (max-width: 842px) {
  .App {
    #section3D {
      .container {
        .left-info {
          .sofa-wrap {
            .sofa {
              width: 673px !important;
              height: 356px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 754px) {
  .App {
    #section3D {
      .container {
        .left-info {
          .sofa-wrap {
            .sofa {
              width: 624px !important;
              height: 329px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 674px) {
  .App {
    #section3D {
      .container {
        .left-info {
          .sofa-wrap {
            height: 289px;
            .sofa {
              width: 544px !important;
              height: 290px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 588px) {
  .App {
    #section3D {
      .container {
        .left-info {
          .sofa-wrap {
            height: 260px;
            .sofa {
              height: 246px !important;
              width: 461px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 492px) {
  .App {
    #section3D {
      .container {
        .left-info {
          .sofa-wrap {
            height: 207px;
            .sofa {
              height: 210px !important;
              width: 397px !important;
            }
            .icon-wrap {
              width: 70px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .App {
    #section3D {
      .container {
        .left-info {
          .sofa-wrap {
            height: 175px;
            .sofa {
              height: 175px !important;
              width: 329px !important;
            }
          }
        }
      }
    }
  }
}
