.Toastify__toast-container--top-right {
  top: 20% !important;
  .Toastify__toast {
    color: #fff;
    .Toastify__close-button {
      color: #fff;
    }
  }
}

.form-wrap {
  padding: 31px 50px 17px;
  background-color: #ffffff;
  max-width: 470px;
  position: relative;
  right: 100px;
  margin: 31px 0;
  &::before {
    content: "";
    position: absolute;
    left: -74px;
    top: -11px;
    width: 61px;
    height: 66px;
    border-radius: 50%;
    border: 25px solid #ff9619;
  }

  .suptitle {
    font-weight: 500;
    color: #ff9619;
    margin-bottom: 15px;
  }
  .title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 100%;
  }
  #feedback-form {
    display: flex;
    flex-direction: column;
    .input-wrap {
      position: relative;
      margin-bottom: 11px;
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: tomato;
        left: 0;
        bottom: -1px;
        transition: all 0.2s ease;
        transform: scale(0);
      }
      &.has-error:after {
        transform: scale(1);
      }
    }
    .label {
      color: #343434;
      font-size: 14px;
      position: absolute;
      pointer-events: none;
      opacity: 0.5;
      left: 0;
      top: 11px;
      background: transparent;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    .input {
      font-size: 18px;
      color: #5b5b5b;
      width: 100%;
      height: 36px;
      padding: 0 20px;
      background: #fff;
      border: transparent;
      border-bottom: 1px solid #262a3f1a;

      &:focus {
        outline: none;
        ~ .label {
          top: -8px;
          font-size: 13px;
        }
      }
    }
    .input:not(:placeholder-shown) ~ .label {
      top: -8px;
      font-size: 13px;
    }
    input:focus ~ .underline:before {
      transform: scaleX(1);
    }
    .underline {
      position: absolute;
      height: 1px;
      width: 100%;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(38, 42, 63, 0.4);
        transform: scaleX(0);
        transition: all 0.3s ease;
      }
    }

    .checkbox-wrap {
      .input-wrap {
        display: flex;
        gap: 30px;
        margin-bottom: 29px;
        input {
          width: 0;
          height: 0;
          position: relative;
          &::before {
            content: "";
            width: 21px;
            height: 10px;
            position: absolute;
            z-index: 1;
            left: 2px;
            top: 0px;
            border-bottom: 2px solid #5b5b5b;
            border-left: 2px solid #5b5b5b;
            transform: rotate(-44deg);
            opacity: 0;
            transition: all 0.2s ease;
          }
          &::after {
            content: "";
            position: absolute;
            border-radius: 2px;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #d1d1d1;
          }

          &:checked:before {
            opacity: 1;
          }
        }
        label {
          font-size: 11px;
          font-weight: 400;
          color: #343434;
          opacity: 0.5;
          max-width: 219px;
          position: relative;
          pointer-events: all;
          top: 0px;
        }
        .underline {
          display: none;
        }
      }
    }
    .btn {
      align-self: center;
      &:hover {
        border: 1px solid #343434;
        background-color: #343434;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.137),
          0 0 20px rgba(255, 255, 255, 0.034);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 20px;
      }
    }
  }
}
